
<div class="main">
  
  <div class="info">
    <%= @leg["first_name"] %>
    <br>
    <%= @leg["last_name"] %>
    <br>
    <%= @leg["position"] %>
    <br>
    <%= @leg["party"] %>
    <br>
    <p> Twitter:  @<%= @leg["twitter"] %> </p>
   
    <p> Facebook: www.facebook.com/<%= @leg["facebook"] %> </p>

  </div>

  <div class="photo">
    <img  id="pic" src="https://www.govtrack.us/data/photos/<%= @leg["govtrack_id"] %>-200px.jpeg">
  </div>

  <div id="vote-history">
    <p id="question"></p>
    <p id="link"></p>
  </div>


</div>


<p>


</p>

